@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.main{
    display: flex;
    align-content: center;
    justify-content: space-around;
}

@media only screen and (max-width:700px) {
    img{
        margin-top: 60px;
    }
}

#text{
    margin-top: 50px;
    text-align: center;
    h1:after{
        z-index: -1;
        content: "";
        display: block;
        width: 290px;
        height: 10px;
        background-color: #5CB3FF;
        border-radius: 30px;
        opacity: 0.7;
    }
}

#text h1,h2{
    font-weight: bolder;
}

#dont-have-acc{
    margin-top: 15vw;
}

#dont-have-acc,#sign-up-link{
    text-align: center;
}

#sign-up-link a:link,a:visited{
    text-decoration: underline;
    text-underline-offset: 5px;
}

img{
    display: block;
    height: 50vw;
    width: 50vw;
    border-radius: 20px;
}