body{
    background-image: url(../images/pricing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.transparent{
    width:600px;
    height:300px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 80px;
    border-radius: 30px;
    background-color: rgba(185, 185, 185, 0.68);
}

.foreground{
    padding-left: 250px;
    position: absolute;
    width:400px;
    height:200px;
    border-radius: 30px;
    top: 50%; /* Position from the top */
    left: 50%; /* Position from the left */
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
}

.foreground p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    margin-right:400px;
    color:#153E7E;
}
